<nav class="navbar navbar-expand-md navbar-light bg-warning-subtle flex-nowrap">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand me-3 pawnstar-font" routerLink="/catalogue">
      <img class="logo" src="ressources/img/logo.png" alt="logo">
    </a>
    <div class="collapse navbar-collapse order-2 order-md-1" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active pawnstar-font" routerLink="/catalogue">Catalogue</a>
        </li>
        @if (isLoggedIn) {
          <li class="nav-item">
            <a class="nav-link pawnstar-font" routerLink="/mon_espace">Mon Espace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pawnstar-font" routerLink="/vente">Vente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pawnstar-font" (click)="deconnexion()">Déconnexion</a>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link pawnstar-font" routerLink="/connexion">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pawnstar-font" routerLink="/inscription">Inscription</a>
          </li>
        }
      </ul>
    </div>
    <form class="d-flex order-1 order-md-2" role="search" (submit)="$event.preventDefault()">
      <input
        class="form-control me-2 search-bar"
        type="search"
        placeholder="Search"
        aria-label="Search"
        #searchInput
        (input)="search(searchInput.value)"
      >
    </form>
  </div>
</nav>