h1 {
    font-family: Georgia, serif;
    color: #c82a3c;
    text-align: center;
}

h2 {
    font-family: Georgia, serif;
    color: #c82a3c;
    text-align: left;
}

form {
    width: 400px;
    margin: 80px auto;
    border: 5px solid #bc4c58;
    border-radius: 12px;
    padding: 40px;
}

form label, form input, form button{
    display: block;
    margin-bottom: 2px;
    width: 100%;
    font-weight: bold;
}

form button{
    background-color: #daba1e;
    color: #1a1208;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
    padding: 5px 10px;
}

button:hover{
    background-color: #f8d434;
    transform: scale(1.05);
}

body {
    margin: 0;
}

.bandeau {
    background-color: #ffc001;
    font-weight: bold;
    text-align: right;
    width: 100%;
    padding: 0.7%;
}

.bandeau a {
    text-decoration: none;
    background-color: #A37800;
    padding: 0.7%;
    color: antiquewhite;
    margin: 0;
}

.bandeau a:hover {
    background-color: #473400;
}

.redirection-vente a {
    display: block;
    text-decoration: none;
    background-color: #bc4c58;
    font-weight: bold;
    color: antiquewhite;
    padding: 0.7%;
    width: 21%;
    border-radius: 8px;
    margin-left: 75%;
    transition: transform 0.2s;
}

.redirection-vente a:hover {
    background-color: #d16672;
    transform: scale(1.05);
}